body {
  font-family: 'Roboto'; 
}

.all-content-wrapper {
  /*
    compensate for 1px border
    on all sides
  */
  width: 298px;
  
  /* height will initially be set
     to 468px for routing guide  
     
     height will be set to 623px
     when user selects Billing and Payments
     to display pre-chat survey
     */
  height: 468px;
  display: inline-block;
  border: solid 1px #9c9c9c;
  border-radius: 11px 0 0 0;
}

input,textarea,select {
  font-family: 'Roboto';
}


.top-wrapper {
  height: 44px;  

}

.top-black-bg-wrap {
  height: 40px;
  background-color: #302b2c;
  border-radius: 10px 0 0 0;
  clear: both;
  width: 100%;
}

.brand-logo-col {
  position: relative;
  bottom: 40px;
  width: 254px;
}

#brand-logo-img {
  height: 55px;
  margin-left: 10px;
  width: auto;
}
.close-btn-col {
  float: right;
  width: 16px;
  height: 100%;
  margin-right: 15px;

  
}

#close-btn-img {
  height: 16px;
  width: 16px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.bottom-green-bar {
  height: 4px;
  background-color: #c2ea00
}



.main-content-upper {
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
}

  /* height will initially be set
     to 404px for routing guide  
     
     height will be set to 559px
     when user selects Billing and Payments
     to display pre-chat survey
     */

.main-content-wrapper {
  height: 404px;
}

.main-content {
  height: 404px; 
}

/********************
  Specific to routing-guide
********************/
.nav-location-wrap {
  margin-bottom: 25px;
}

.nav-location {
  display: inline;
  font-size: 13px;
}

.nav-slash {
  display: inline;
  color: #726f76
}

.nav-path-location {
  color: #70893b;
  display: inline;  
}

.nav-path-location a {
  text-decoration: none;  
  color: #95a65a;
}

.nav-current-location {
  color: #9e9e9e;  
  display: inline;
}

.topics-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 37px;
}

.topics-list-wrap {
  margin-bottom: 15px;  
}

.topics-choice-text {
  display: inline; 
  vertical-align: middle;
}

.topics-choice-icon-wrap {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  height: 32px;
  width: 32px;
  margin-left: 40px;
}

.topic-icon {
  height: 32px;
  width: 32px;
  opacity: .4;
  display: inline;

  vertical-align: middle;
}

.topics-choice {
  line-height: 40px;
  height: 40px;
  margin-bottom: 10px;
  font-size: 13px;
}

.topics-choice a {
  display: inline-block;
  text-decoration: none;
  color: black;
  width: 100%;
}

.topics-choice a:hover {
  background-color: #eefadb;
  color: #70893b;
}

.topics-choice a:active {
  background-color: #9ad000;
  color: white;
}

.back-btn-icon-wrap{
  display: inline-block;
  height: 25px;
  width: 25px;
  vertical-align: middle;
}

.back-btn-wrap {
  padding-left: 40px; 
  height: 25px;
  width: 70px;
}

.back-btn-wrap a {
  text-decoration: none;
  height: 100%;
  display: block;
}

.back-btn-text {
  color: #a4a4a4;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
}

/************
  Specific to pre-chat
*************/

.input-form {
  height: 478px;
  display: block;
  font-size: 13px;
  margin-bottom: 0px;
  padding-left: 25px;
  padding-right: 25px;
}

.input-field-label {
  font-size: 13px;
  margin-bottom: 5px;
}

.input-field {
  border: solid 1px #cccccc;
  border-radius: 2px;
  height: 35px;
  width: 100%;
  margin: 0;
  padding-left: 45px;
  
}

.input-field:focus {
  background-color: #eefadb;
  outline: none;
}

.input-field-container {
  position: relative; padding: 0; margin: 0;  
}

.input-field-icon {
  height: 20px;
  width: 20px;
  position: absolute;
  left: 5px;
  bottom: 7.5px;
}

.input-field-icon-alert {
  height: 15px;
  width: 15px;
  position: absolute;
  right: 15px;
  bottom: 10.5px; 
  display: none;  
}

.input-field-icon-alert-ta {
  height: 15px;
  width: 15px;
  position: absolute;
  right: 15px;
  top: 10.5px;
  display: none;
}

.input-req-msg {
  font-size: 10px;
  color: #f5a4a1; 
  float: right;
  text-align: end;
  display: inline;
  width: 200px;
  margin-top: 5px;
  display: none;
}

.input-phone-msg {
  font-size: 10px;
  color: #f5a4a1; 
  float: right;
  text-align: end;
  display: none;
  width: 200px;
  margin-top: 5px;
  
}

.text-input-item {
  margin-bottom: 25px;  
}

.input-textarea-field {
  resize: none;  
  border: solid 1px #cccccc;
  border-radius: 2px;
  width: 100%;
  height: 70px;
  font-family: Roboto;
  font-size: 13px;
}

.input-textarea-field:focus {
  background-color: #eefadb;
  outline: none;
}

/*
 Looks like the select field in the prechat survey
 example has a higher border-radius than
 the other input fields so that's what I'm doing here.
*/
.input-select-field {
   border: solid 1px #cccccc;
   border-radius: 4px;
   height: 35px;
   width: 100%;
   padding-left: 2px;
}

.yes-no-sel {
}

.ca-dynamic-field {
  display: none;
  margin-bottom: 25px;  
}

.input-select-field:focus {
  background-color: #eefadb;
  outline: none;
}

.btn-req-wrap {
  width: 100%;
  height: 50px;
}

.submit-btn-wrap {
  float: right;
  margin-bottom: 5px;
  width: 100%;
}

.start-chat-btn {
  width: 115px;
  float: right;
  height: 30px;
  border-radius: 4px;
  background: url(../assets/btn-send-idle.png) repeat;
  border: none;
  color: white;
  font-weight: 500;
  /**
  http://css3gen.com/text-shadow/
  **/
  text-shadow: 0.5px 0.5px 0px rgba(0, 0, 0, 0.9);
  cursor: pointer;
}

.start-chat-btn:hover {
  background: url(../assets/btn-send-hover.png) repeat;
}

.start-chat-btn:focus {
  outline: none;  
}

.single-asterisk-red{
  color: red;
  display: inline-block;  
}

.req-field {
  display: inline-block;
  color: #a9a9a9;
}

.asterisk-meaning {
  float: right;
  text-align: end;
  display: inline;
  width: 80px;
  font-size: 10px;
  display: inline-block;
}

/***********************/

.bottom-content-wrapper {
  background-color: #e5e5e5;
 
  height: 19px;
}

.bottom-content img {
  margin-left: 5px;
  height: 15px;  
}

.lower-wrapper {
  height: 425px;
}